aiohttp
asyncpg
chromadb
lxml_html_clean
requests
beautifulsoup4
feedparser
matplotlib
newspaper3k
nltk
pandas
psycopg2-binary
python-dateutil
sqlalchemy
tensorflow-recommenders
tensorflow-datasets
fastapi[standard]
jinja2
